@media screen and (min-width:1000px) {
    .descricao{
        width: 50%;
    }    
}

@media screen and (max-width:905px){

header .container{
        display: flex;
        flex-direction: column;
}
header .logocabecalho{
    font-size: 30px;
    letter-spacing: 5px;
    margin-left: 10px;
    margin-top: 10px;
}

.navcabecalho{
    margin-bottom: 10px;
}

.navcabecalho a{
    font-size: 20px;
}

main .destaque-principal .container .titulo{
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

main .destaque-principal .container .descricao{
    font-size: 15px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 10px 0 0 10px;

}

main .destaque-principal .leia-mais{
    margin-left: 10px;
}

.cadastro-email{
    padding-left: 5px;
    margin-bottom: 10px;
}

#email{
    width: 280px;
}
.botao-cad-email{
    margin-left: 5px;
    width: 250px;
}

.rodape .descricao-rodape{
    font-size: 12px;
    text-align: justify;
}

/* PÁGINA CONFIRMAÇÃO DE EMAIL.*/

.descricao-email{
    font-size: 15px;
    text-align: left;
    margin-left: 5px;
}
}